body{
    box-sizing: border-box;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color:black;
}
.dark-mode {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    color: white;
  }


 h1{
    text-align: center;
    color: #eeedf3;
    font-family: "Cormorant Garamond", serif;
}
table{
  border: 5px solid rgb(7, 21, 148);
  width: 100%;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-collapse: collapse;
}
table td{
  padding-left: 10px;
  color:rgb(40, 11, 117);
  font-weight: bold;
  border: 2px solid black;
  border-collapse: collapse;
}
input[type=text],select,textarea{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color:rgb(40, 11, 117);
    border-radius: 10px;
    font-weight: bold;
    width: 90%;
}
input[type=password]{
    color:rgb(40, 11, 117);
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 10px;
    width: 90%;
}
input[type=url]{
    color:rgb(40, 11, 117);
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 76%;
    border-radius: 10px;
}

.button1{
    padding:10px;
    text-align: center;
}
.custom-btn {
    width: 100px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-weight: 100;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #d6f528;
     background-image: linear-gradient(315deg, #2ed33b 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
  